<ion-view id="tabs_search">
  <div class="bar bar-subheader">
    <h4 style="font-weight:normal;font-size:12px;color:#8c8c8c;padding:10px 0;">搜索关健字： <b class="blue"></b> ，共有 <b class="red">90</b>条记录</h4>&nbsp;&nbsp;&nbsp;
    <label class="item item-input item-icon-right" style="width: 56%;">
        <i class="icon ion-search placeholder-icon"></i>
        <input placeholder="Search" type="text">
     </label><br/>
  </div>

  <ion-content>
    <div class="list">
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a> <a class="item item-icon-right" href="#">
      钢铁行业电子商务第三方支付平台探讨
      <i class="icon ion-chevron-right f12"></i>
    </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a> <a class="item item-icon-right" href="#">
      钢铁行业电子商务第三方支付平台探讨
      <i class="icon ion-chevron-right f12"></i>
    </a>
      <a class="item item-icon-right" href="#">
        钢铁行业电子商务第三方支付平台探讨
        <i class="icon ion-chevron-right f12"></i>
      </a>


    </div>
  </ion-content>
</ion-view>
