<ion-view view-title="会员登录" id="tabs_login"> <!--view-title="home"-->
  <ion-content class="scroll-content">
  <div id="example-inset-forms" class="ionic-body active-preview" class="ani ani_fade_in_right" >
      <div class="list list-inset">
        <label class="item item-input">
          <input placeholder="用户名" type="text">
        </label>
        <br/>
        <label class="item item-input">
          <input placeholder="密码" type="password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-assertive">提交</button>
        <p  class="regist" >
          <a href="#" class="regist_bt" >用户注册</a>
        </p>
      </div>
  </div>
    <div class="login_with padding">
      <h5 class="login_title">合作网站登录</h5>
      <p class="login_list">
        <a class="login_with_item" href="#"><img src="img\icons\qq.png" alt=""/></a>
        <a class="login_with_item" href="#"><img src="img\icons\weibo.png" alt=""/></a>
        <a class="login_with_item" href="#"><img src="img\icons\qq.png" alt=""/></a>
        <a class="login_with_item" href="#"><img src="img\icons\weibo.png" alt=""/></a>
        <a class="login_with_item" href="#"><img src="img\icons\qq.png" alt=""/></a>
        <a class="login_with_item" href="#"><img src="img\icons\weibo.png" alt=""/></a>
      </p>
    </div>
  </ion-content>
</ion-view>
