<ion-view view-title="账户" id="tabs_account" hide-nav-buttons="true"> <!--view-title="home"-->
 <ion-content>
   <div class="my_header">
     <div class="list">
       <a class="item light item-thumbnail-left" href="#">
         <img src="daos\test_datas\good2.jpg">
         <h2 >陈南阳</h2>
         <p><span>会员等级：</span>钻石会员</p>
         <p><span>个人成长值：</span>12345</p>
       </a>
     </div>
     <div class="button-bar bar-stable">
       <a class="button" > <p>余额</p>￥11.12</a>
       <a class="button" > <p>积分</p>24585</a>
       <a class="button" > <p>订单</p>11</a>
       <a class="button" > <p>短消息</p>2</a>
     </div>
   </div>
   <div>
     <div class="list list-inset">
       <a class="item item-icon-right gray" href="#">
         交易订单
         <i class="icon ion-chevron-right f12"></i>
       </a>
       <a class="item item-icon-right gray" href="#">
         已关闭订单
         <i class="icon ion-chevron-right f12"></i>
       </a>
     </div>
     <div class="list list-inset">
       <a class="item item-icon-right gray" href="#">
         账户余额
         <i class="icon ion-chevron-right f12"></i>
       </a>
       <a class="item item-icon-right gray" href="#">
         我的积分
         <i class="icon ion-chevron-right f12"></i>
       </a>
       <a class="item item-icon-right gray" href="#">
         站内短信
         <i class="icon ion-chevron-right f12"></i>
       </a>
     </div>
     <div class="list list-inset">
       <a class="item item-icon-right gray" href="#">
         个人资料
         <i class="icon ion-chevron-right f12"></i>
       </a>
       <a class="item item-icon-right gray" href="#">
         修改密码
         <i class="icon ion-chevron-right f12"></i>
       </a>
       <a class="item item-icon-right gray" href="#">
         退出登录
         <i class="icon ion-chevron-right f12"></i>
       </a>
     </div>
   </div>
 </ion-content>
</ion-view>
