<ion-view id="tabs_home"  class="ani ani_fade_in_right"> <!--view-title="home"-->
  <ion-content class="scroll-content">
    <!--首页幻灯片 begin-->
    <div class="banner swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" ng-repeat="ad in adList"><img src="{{ad.src}}"/></div>
        <!--<div class="swiper-slide"><img src="daos/test_datas/banner1.jpg"/></div>
        <div class="swiper-slide"><img src="daos/test_datas/banner2.jpg"/></div>
        <div class="swiper-slide"><img src="daos/test_datas/banner3.jpg"/></div>-->
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!--/首页幻灯片 end-->
    <!--<input type="button" ng-click="test()" value="测试$ionicBackdrop"/>-->
    <a href="#/test" >测试页面转场</a>  <!--nav-direction="back"-->
    <!--首页图标导航 begin-->
    <div class="nav_list">
      <div class=" row">
        <div class="col"><a href="#/tabs/news"><img src="img/icons/news.png" alt=""/>
          <p class="dark">新闻资讯</p></a></div>
        <div class="col"><a href="#/tabs/goods"><img src="img/icons/buy.png" alt=""/>
          <p class="dark">购物商城</p></a></div>
        <div class="col"><a href="#/tabs/video"><img src="img/icons/video.png" alt=""/>
          <p class="dark">视频专区</p></a></div>
        <div class="col"><a href="#/tabs/photo"><img src="img/icons/photo.png" alt=""/>
          <p class="dark">图片分享</p></a></div>
      </div>
      <div class=" row">
        <div class="col"><a href="#/tabs/down"><img src="img/icons/down.png" alt=""/>
          <p class="dark">资源下载</p></a></div>
        <div class="col"><a  href="#/tabs/account"><img src="img/icons/user.png" alt=""/>
          <p class="dark">会员中心</p></a></div>
        <div class="col"><a href="#/tabs/message"><img src="img/icons/msg.png" alt=""/>
          <p class="dark">留言反馈</p></a></div>
        <div class="col"><a href="#/tabs/contanct"><img src="img/icons/tel.png" alt=""/>
          <p class="dark">联系我们</p></a></div>
      </div>
    </div>
    <!--/首页图标导航 end-->

    <!--新闻资讯 begin-->
    <div class="news section clearfix">
      <div class="has-header padding">
        <h4>新闻资讯</h4>
      </div>
      <p class="list">
        <a class="item item-icon-right" href="#">
          钢铁行业电子商务第三方支付平台探讨
          钢铁行业电子商务第三方支付平台探讨
          钢铁行业电子商务第三方支付平台探讨
          钢铁行业电子商务第三方支付平台探讨
          <i class="icon ion-chevron-right f12"></i>
        </a>
        <a class="item item-icon-right" href="#">
          分析师称苹果市值今年将突破1万亿美元
          <i class="icon ion-chevron-right f12"></i>
        </a>
        <a class="item item-icon-right" href="#">
          钢铁行业电子商务第三方支付平台探讨
          <i class="icon ion-chevron-right f12"></i>
        </a>
      </p>
    </div>
    <!--新闻资讯 end-->

    <!--商品推荐 begin-->
    <div class="goods section clearfix">
      <div class="has-header padding">
        <h4>商品推荐</h4>
      </div>
      <div class="list">
        <a class="item item-thumbnail-left" href="#">
          <img src="daos\test_datas\good1.jpg">

          <h2 class="title">三星（SAMSUNG）UA40HU5920JXXZ 40英寸4K超高清</h2>

          <p class="disc">智能 四核处理器 平板液晶电视（黑色) </p>

          <p class="disc">此商品为爆款，不参加满减活动！数量有限，先抢先得！智能彩电节，点击抢购</p>

          <p class="note">
            <i class="note_left">￥3299.00</i>
            <i class="note_right">8220次</i>
          </p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="daos\test_datas\good2.jpg">

          <h2 class="title">佳能（Canon） EOS 700D 单反套机</h2>

          <p class="disc">佳能普及型单反新旗舰记忆的片段，铭记那一刻的感动</p>

          <p class="disc">想记录美丽的夜景，想留下鲜艳的色彩，更想捕捉决定性的瞬间。能够满足这些的相机就是EOS
            700D。拓展拍摄自由度的触摸操作和可旋转液晶监视器，激发拍摄灵感的丰富创意功能，趁手的坚实机身中融入了令人惊叹… </p>

          <p class="note">
            <i class="price">￥3399.00</i>
            <i class="hot">811220次</i>
          </p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="daos\test_datas\good1.jpg">

          <h2 class="title">三星（SAMSUNG）UA40HU5920JXXZ 40英寸4K超高清</h2>

          <p class="disc">智能 四核处理器 平板液晶电视（黑色) </p>

          <p class="disc">此商品为爆款，不参加满减活动！数量有限，先抢先得！智能彩电节，点击抢购</p>

          <p class="note">
            <i class="price">￥3299.00</i>
            <i class="hot">8220次</i>
          </p>
        </a>
        <a class="item item-thumbnail-left" href="#">
          <img src="daos\test_datas\good2.jpg">

          <h2 class="title">佳能（Canon） EOS 700D 单反套机</h2>

          <p class="disc">佳能普及型单反新旗舰记忆的片段，铭记那一刻的感动</p>

          <p class="disc">想记录美丽的夜景，想留下鲜艳的色彩，更想捕捉决定性的瞬间。能够满足这些的相机就是EOS
            700D。拓展拍摄自由度的触摸操作和可旋转液晶监视器，激发拍摄灵感的丰富创意功能，趁手的坚实机身中融入了令人惊叹… </p>

          <p class="note">
            <i class="price">￥3399.00</i>
            <i class="hot">811220次</i>
          </p>
        </a>
      </div>
    </div>
    <!--商品推荐 end-->

    <!--视频专区 begin-->
    <div class="video section clearfix">
      <div class="has-header padding">
        <h4>视频专区</h4>
      </div>
      <div class="video_list" style="width: 98%;margin:0 auto;">
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            奔跑吧兄弟
          </a>
        </div>
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            星梦奇缘
          </a>
        </div>
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            太阳的后裔
          </a>
        </div>
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            奔跑吧兄弟
          </a>
        </div>
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            星梦奇缘
          </a>
        </div>
        <div class="list card">
          <div class="item item-image">
            <img src="daos\test_datas\video1.jpg">
          </div>
          <a class="item item-icon-left assertive" href="#">
            <i class="icon ion-videocamera"></i>
            太阳的后裔
          </a>
        </div>
      </div>
    </div>
    <!--视频专区 end-->

    <!--图片分享 begin-->
    <div class="down section clearfix">
      <div class="has-header padding">
        <h4>图片分享</h4>
      </div>
      <ul class="down_list clearfix">
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
        <li class="down_item"><a href="#"><img src="daos\test_datas\good2.jpg" alt=""/></a></li>
      </ul>
    </div>
    <!--图片分享 end-->

    <div class="footer clearfix">
        <p class="title"><a href="#">触屏版</a>|<a href="#">电脑版</a>|<a href="#">回到顶部</a></p>
        <address>福建省厦门市思明区软件园二期望海路37号402</address>
    </div>
  </ion-content>
</ion-view>
