<ion-view id="tabs_home" > <!--view-title="home"-->
  <ion-content class="scroll-content" >
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
    <p>社会主义好呀</p>
  </ion-content>
</ion-view>
